<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Load physics parameters -->
    <xacro:include filename="$(find barista_robot_description)/xacro/physics_properties.xacro"/>

    <!-- Caster wheel macro -->
    <xacro:macro name="caster_wheel" params="prefix x_pos robot_name">
    
    <!-- Properties -->
    <xacro:property name="wheel_radius" value="0.0352"/>
    <xacro:property name="cylinder_length" value="0.010"/>
    <xacro:property name="wheel_mass" value="0.02"/>
    <xacro:property name="joint_type" value="fixed"/>
    <!-- <xacro:property name="joint_type" value="continuous"/> -->

    <!-- Yaw link -->
    <link name="${prefix}_yaw_link">
        <visual>
            <geometry>
                <cylinder length="${cylinder_length}" radius="${wheel_radius}"/>
            </geometry>
            <material name="green_dark"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${cylinder_length}" radius="${wheel_radius}"/>
            </geometry>
        </collision>
        <inertial>
            <!-- <mass value="${wheel_mass}"/>
            <inertia ixx="0.0000031184" ixy="0" ixz="0" iyy="0.0000031184" iyz="0" izz="0.000006195"/> -->
            <mass value="${physics_config['caster_mass']}"/>
            <inertia ixx="${physics_config['caster_yr_ixx']}" ixy="0" ixz="0" 
                     iyy="${physics_config['caster_yr_iyy']}" iyz="0"
                     izz="${physics_config['caster_yr_izz']}"/>
        </inertial>
    </link>

    <joint name="${robot_name}/${prefix}_yaw_joint" type="${joint_type}">
        <origin rpy="0 1.5707 1.5707" xyz="${x_pos} 0.0 -0.070" />
        <parent link="chassis" />
        <child link="${prefix}_yaw_link" />
        <!-- <axis xyz="0 1 0" /> -->
        <axis xyz="0 0 1 " />
        <limit effort="1000.0" velocity="100.0" />
        <!-- <dynamics damping="3.0" friction="0.7"/> -->
        <dynamics damping="${physics_config['wheel_damping']}" 
                        friction="${physics_config['wheel_friction']}"/>
    </joint> 

    <!-- Roll link -->
    <link name="${prefix}_roll_link">
        <visual>
            <geometry>
                <cylinder length="${cylinder_length}" radius="${wheel_radius}"/>
            </geometry>
            <material name="green_dark"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${cylinder_length}" radius="${wheel_radius}"/>
            </geometry>
        </collision>
        <inertial>
            <!-- <mass value="${wheel_mass}"/>
            <inertia ixx="0.0000031184" ixy="0" ixz="0" iyy="0.0000031184" iyz="0" izz="0.000006195"/> -->
            <mass value="${physics_config['caster_mass']}"/>
            <inertia ixx="${physics_config['caster_yr_ixx']}" ixy="0" ixz="0" 
                     iyy="${physics_config['caster_yr_iyy']}" iyz="0"
                     izz="${physics_config['caster_yr_izz']}"/>
        </inertial>
    </link>

    <joint name="${prefix}_roll_joint" type="${joint_type}">
        <!-- <origin rpy="0 1.5707 1.5707" xyz="0 0 0" /> -->
        <origin rpy="0 1.5707 1.5707" xyz="0 0 0" /> 
        <parent link="${prefix}_yaw_link" />
        <child link="${prefix}_roll_link" />
        <!-- <axis xyz="1 0 0" /> -->
        <axis xyz="0 1 0" />
        <limit effort="1000.0" velocity="100.0" />
        <!-- <dynamics damping="1.0" friction="0.5"/> -->
        <dynamics damping="${physics_config['wheel_damping']}" 
                        friction="${physics_config['wheel_friction']}"/>
    </joint>

    <!-- Pitch link -->
    <link name="${prefix}_pitch_link">
        <visual>
            <geometry>
                <sphere radius="${wheel_radius}"/>
            </geometry>
            <material name="green_dark"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="${wheel_radius}"/>
            </geometry>
        </collision>
        <inertial>
            <!-- <mass value="${wheel_mass}"/>
            <inertia ixx="0.00000826" ixy="0" ixz="0"
                     iyy="00.00000826" iyz="0"
                     izz="0.00000826"/> -->
            <mass value="${physics_config['caster_mass']}"/>
            <inertia ixx="${physics_config['caster_p_ixx']}" ixy="0" ixz="0" 
                     iyy="${physics_config['caster_p_iyy']}" iyz="0"
                     izz="${physics_config['caster_p_izz']}"/>
        </inertial>
    </link>

    <joint name="${prefix}_pitch_joint" type="${joint_type}">
        <origin rpy="0 1.5707 1.5707" xyz="0 0 0" />
        <parent link="${prefix}_roll_link" />
        <child link="${prefix}_pitch_link" />
        <!-- <axis xyz="0 1 0" /> -->
        <!-- <axis xyz="0 0 1" /> -->
        <!-- <axis xyz="1 0 0" /> -->
        <limit effort="1000.0" velocity="100.0" />
        <!-- <dynamics damping="0.01" friction="0.01"/> -->
        <dynamics damping="${physics_config['wheel_damping']}" 
                        friction="${physics_config['wheel_friction']}"/>
    </joint>

    <!-- Gazebo materials -->
    <gazebo reference="${prefix}_yaw_link">
        <material>Gazebo/Grey</material>
        <surface>
            <friction>
                <ode>
                    <mu>0.01</mu> 
                    <mu2>0.01</mu2>
                    <slip1>0.9</slip1>
                    <slip2>0.9</slip2>
                </ode>
            </friction>
            <contact>
                <ode>
                    <kp>100.0</kp> 
                    <kd>1.0</kd>
                    <soft_cfm>0.01</soft_cfm>
                    <soft_erp>0.2</soft_erp>
                </ode>
            </contact>
        </surface>
    </gazebo>
    
    <gazebo reference="${prefix}_roll_link">
        <material>Gazebo/Grey</material>
        <surface>
            <friction>
                <ode>
                    <mu>0.01</mu> 
                    <mu2>0.01</mu2>
                    <slip1>0.5</slip1>
                    <slip2>0.5</slip2>
                </ode>
            </friction>
            <contact>
                <ode>
                    <kp>100.0</kp> 
                    <kd>1.0</kd>
                    <soft_cfm>0.01</soft_cfm>
                    <soft_erp>0.2</soft_erp>
                </ode>
            </contact>
        </surface>
    </gazebo>

    <gazebo reference="${prefix}_pitch_link">
        <material>Gazebo/Grey</material>
        <surface>
            <friction>
                <ode>
                    <mu>0.01</mu> 
                    <mu2>0.01</mu2>
                    <slip1>0.5</slip1>
                    <slip2>0.5</slip2>
                </ode>
            </friction>
            <contact>
                <ode>
                    <kp>100.0</kp> 
                    <kd>1.0</kd>
                    <soft_cfm>0.01</soft_cfm>
                    <soft_erp>0.2</soft_erp>
                </ode>
            </contact>
        </surface>
    </gazebo>

  </xacro:macro>

</robot>