<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Load once, use everywhere -->
    <xacro:property name="config_file" value="$(find barista_robot_description)/config/robot_physics.yaml"/>
    <!-- <xacro:property name="physics_config" value="${load_yaml(config_file)['robot_physics']}"/> -->
    <xacro:property name="physics_config" value="${xacro.load_yaml(config_file)['robot_physics']}"/>

</robot>
